/* ============= GLOBAL CSS =============== */

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
} /*16px*/

:root {
  /* colors */
  --primary-100: #ede9fe;
  --primary-200: #ddd6fe;
  --primary-300: #c4b5fd;
  --primary-400: #a78bfa;
  --primary-500: #8b5cf6;
  --primary-600: #7c3aed;
  --primary-700: #6d28d9;
  --primary-800: #5b21b6;
  --primary-900: #4c1d95;

  /* grey */
  --grey-50: #f8fafc;
  --grey-100: #f1f5f9;
  --grey-200: #e2e8f0;
  --grey-300: #cbd5e1;
  --grey-400: #94a3b8;
  --grey-500: #64748b;
  --grey-600: #475569;
  --grey-700: #334155;
  --grey-800: #1e293b;
  --grey-900: #0f172a;
  /* rest of the colors */
  --black: #222;
  --white: #fff;
  --red-light: #f8d7da;
  --red-dark: #842029;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;

  --small-text: 0.875rem;
  --extra-small-text: 0.7em;
  /* rest of the vars */
  --backgroundColor: var(--grey-50);
  --textColor: var(--grey-900);
  --borderRadius: 0.25rem;
  --letterSpacing: 1px;
  --transition: 0.3s ease-in-out all;
  --max-width: 1120px;
  --fixed-width: 600px;

  /* box shadow*/
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

body {
  background: var(--backgroundColor);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  line-height: 1;
  /* color: var(--textColor); */
}
.section-center {
  display: block;
  width: 100%;
  max-width: 1200px;
  height: auto;
  margin: 0 auto;
  padding-top: 2rem;
}
p {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-family: var(--headingFont);
  font-weight: 400;
  line-height: 1;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1rem;
}

h4 {
  font-size: 0.8rem;
}

h5 {
  font-size: 0.7rem;
}

.text {
  margin-bottom: 1.5rem;
  max-width: 40em;
}

small,
.text-small {
  font-size: var(--small-text);
}

a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding: 0;
}

.img {
  width: 100%;
  max-height: 600px;
  display: block;
  object-fit: cover;
}
/* buttons */

.btn {
  cursor: pointer;
  color: var(--white);
  background: red;
  border: transparent;
  border-radius: var(--borderRadius);
  letter-spacing: var(--letterSpacing);
  padding: 0.375rem 0.75rem;
  box-shadow: var(--shadow-1);
  transition: var(--transition);
  text-transform: capitalize;
  display: inline-block;
  margin-top: 1rem;
  text-transform: capitalize;
}
.btn:hover {
  background: black;
  box-shadow: var(--shadow-3);
}
.btn-block {
  width: 100%;
}
.news-article {
  position: relative;
}

.navbar {
  display: flex;
  flex-direction: row;
  height: 4rem;
  background: rgba(0, 0, 0, 0.8);
}
.navbar-nav {
  display: flex;
  width: 100%;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-between;
  /* border: 2px solid red; */
}
.Netflix-logo {
  display: block;
  width: 5rem;
  object-fit: cover;
  margin-left: 0.5rem;
}
.buttons {
  display: flex;
  width: 12rem;
  align-items: center;
  justify-content: space-between;
}
.internet-img {
  width: 1rem;
  filter: invert(1);
}
.lang-btn {
  background: transparent;
  display: flex;
  align-items: center;
}
#lang:hover {
  cursor: pointer;
}
.buttons button {
  border: none;
  margin: 0;
}
.buttons select {
  border: none;
  background: transparent;
  color: var(--white);
}
.buttons select option {
  border: red;
  background: transparent;
  color: var(--black);
}
.hero {
  display: grid;
  align-items: center;
  width: 100%;
  height: 95vh;
  margin-top: -4rem;
  background: url(../public/netflix.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}
.hero-item {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 90vh;
  /* border: 2px solid red; */
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}
.hero-text {
  /* border: 2px solid white; */
  /* width: 100%; */
  /* max-width: 100%; */
  text-align: center;
  color: var(--white);
  /* margin: 0 auto; */
  padding-top: 5rem;
}
.hero-text h1 {
  font-weight: 600;
  font-size: 4rem;
  line-height: 1;
}
.hero-text h2 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 2;
}
.hero-text h3 {
  font-weight: 600;
  font-size: 1.5rem;
}
.hero-btns {
  display: grid;
  grid-template-columns: 1fr 0.3fr;
  width: 70%;
  gap: 1rem;
  margin: 1rem auto;
}
.hero-btns .btn {
  margin: 0;
  padding: 1rem;
  border-radius: 0.4rem;
}
.hero-btns input {
  color: red;
}
.next-btn {
  width: 0.8rem;
  margin-left: 0.5rem;
  padding: 0;
  filter: invert(1);
}
@media screen and (max-width: 768px) {
  .hero-btns {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: center;
    max-width: 50%;
  }
  .getbtn {
    max-width: 60%;
    justify-self: center;
    padding: 1rem;
  }
}

/* section-1 */
.articles {
  width: 100%;
  height: auto;
  background: #000;
  position: relative;
}
.article-border {
  border: 4px solid grey;
}
.section-article {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 1rem;
  border: 3px solid grey;
}
/* .section-articles {
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  place-items: center;
  position: relative;
} */
.section-text {
  text-align: left;
  max-width: 100%;
  padding: 1rem;
}
.section-text h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}
.section-img {
  height: auto;
  max-width: 100%;
}
.section-text h3 {
  font-weight: lighter;
}

@media screen and (max-width: 768px) {
  .section-item {
    display: flex;
    flex-direction: column;
    height: auto;
  }
  .section-text h3 {
    font-size: 1rem;
  }
  .section-text h1 {
    font-size: 2rem;
    line-height: 1.2;
    margin-bottom: 1rem;
  }
}
.loading {
  position: absolute;
  bottom: 10%;
  left: 9.5%;
  width: 20rem;
  height: 7rem;
  background: #000;
  border: 2px solid grey;
  border-radius: 1rem;
}
.loading-item {
  display: flex;
  place-items: center;
}
.loading-text {
  color: blue;
  padding: 0.2rem;
}
.loading-img {
  object-fit: cover;
  height: 7rem;
  padding: 0.5rem;
}
footer {
  display: block;
  background: #000;
  padding: 1.5rem;
  max-width: 100%;
}
.footer-items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.2rem;
  justify-content: center;
  margin: 1.5rem auto;
}
footer p {
  display: flex;
  text-align: center;
  justify-content: left;
  color: grey;
}
footer p a {
  margin: 0;
  padding: 0;
}
footer a {
  display: block;
  color: gray;
}
footer a:hover {
  color: red;
}
footer li {
  padding: 0.2rem;
}
/* sign in homepage */

.login-form {
  display: grid;
  place-items: center;
  /* border: 2px solid yellow; */
  height: 100%;
  /* padding: 2rem; */
  background: rgba(0, 0, 0, 0.4);
  /* padding: 3rem; */
}
.login {
  display: flex;
  /* border: 2px solid yellow; */
  flex-direction: column;
  width: auto;
  max-width: 30rem;
  height: auto;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 0.25rem;
  padding: 3rem;
  /* margin: 1rem; */
}
.login h1 {
  color: var(--white);
  font-weight: 500;
  margin-bottom: 2.5rem;
}
.login-inputs {
  background: rgb(74, 72, 72);
  color: var(--white);
  padding: 0.75rem;
  border-radius: 0.5rem;
  border: grey;
  margin: 0.5rem;
}
.login-inputs::placeholder {
  color: grey;
}
.login-footer .footer-items {
  width: 95%;
  padding: 0.75rem;
}
.login-footer li a {
  padding: 0.2rem;
}
.login-footer {
  background: rgba(0, 0, 0, 0.9);
}
.submit-btn {
  background: red;
  margin-top: 3rem;
}
.flex {
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
}
.flex a {
  color: var(--white);
}
.login-texts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5rem;
  color: grey;
}
.login-texts div {
  padding: 0.3rem;
}
